*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

.some_class{
	border: 1px solid black;
	margin:20px;
	font-family:"Times New Roman";
}

.some_other_class{
	color:blue;
	border: 1px solid white;
	text-decoration:underline;
}